body {
  background-color: rgb(0, 238, 255);
  }

header{
  background-image: linear-gradient(180deg, rgb(246, 194, 194), rgb(255, 255, 255));
  text-align: center
  }
header:hover{
  text-shadow: 2px 2px #ff0000;
  }

body div.wrapper main{
  background-image: url(uzu.jpg);
  background-repeat: round;
}


ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  }
ul.nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  }
ul.nav a:hover{
  background-image: linear-gradient(180deg, rgb(246, 194, 194), rgb(197, 174, 174));
  }
ul.nav a.main:hover{
  background-image: linear-gradient(180deg, rgb(113, 36, 36), rgb(0, 0, 0));
  }
ul.nav a.main{
  text-decoration: none;
  color: rgb(0, 255, 34);
  }
.nav li {
  float: left;
  }
.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  


ul.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
ul.nav2 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
ul.nav2 a:hover{
    background-color: rgb(6, 93, 255);
  }
.nav2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }




  ul.nav3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }
  ul.nav3 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
  ul.nav3 a:hover{
    text-decoration: underline red;
    }
  .nav3 li {
    float: left;
    }
  .nav3 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }



h1 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  }
  
 aside h3{
  text-align: center
 } 
  aside{
    float: right;
    width: 20%;
  }
  aside img.foto:hover{
    filter: blur(3px);
    
  }

  aside img.foto{
    height: auto; 
    max-width: 100%;
  }

  main{
    float: left;
    width: 80%;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }